@import '../../node_modules/antd/lib/style/themes/default.less';

@border-radius-base: 3px;
@border-radius-sm: 2px;
@shadow-color: rgba(0, 0, 0, 0.05);
@shadow-1-down: 4px 4px 40px @shadow-color;
@border-color-split: #f4f4f4;
@border-color-base: #e5e5e5;
@font-size-base: 13px;
@text-color: #666;
@hover-color: #f9f9fc;
@primary-color: #1e58f8;
@gray-6: #bfbfbf;
@gray-7: #8c8c8c;
@gray-8: #595959;
@gray-9: #434343;
@layout-header-background: #232731;
@layout-sider-background: #2e3440;
@layout-body-background: #e3e3e3;
